<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User updated successfully</title>
</head>
<body>
    <div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 8px; margin-top: 50px; font-family: Arial, sans-serif;">
        <div>
            <h2 style="text-align:center; color: #2e6da4;">User updated successfully</h2>
            <p>Hello User,</p>
            <p>Your account has been successfully updated. Below are your login credentials:</p>
            <p><strong>Email:</strong> <span th:text="${email}"></span></p>
            <p><strong>Password:</strong> <span th:text="${password}"></span></p>
            <p>Thank You,<br/>Employee Portal System</p>
        </div>
    </div>
</body>
</html>
